/* Common */

/* Main */

/* Header */
.header {
    height: 120px;
    background: linear-gradient(-180deg,#f53d2d,#ff6633)
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style-type: none;
    padding-left: 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item,
.header__navbar-item--link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item--medium {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 1.4rem;
    border-left: 1px solid #fb9086;
    border-right: 1px solid #fb9086;
    /* background-color: #fb9086; */
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}