/* Common */

.no-tap {
    cursor: text;
    color: #fff;
}

/* Main */

/* Header */
.header {
    height: 120px;
    background: linear-gradient(-180deg,#f53d2d,#ff6633)
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style-type: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--subnav:hover .header__qr,
.header__navbar-item--subnav:hover .header__lang,
.header__navbar-item--subnav:hover .header__notify {
    display:block;
}

.header__navbar-item,
.header__navbar-item--link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item--link,
.header__navbar-icon--link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item--link:hover,
.header__navbar-icon--link:hover {
    color: rgba(255, 255, 255, 0.7);
    /* opacity: 0.7; */
    cursor: pointer;
}

.header__navbar-item--medium {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 1.4rem;
    border-left: 1px solid #fb9086;
    border-right: 1px solid #fb9086;
    /* background-color: #fb9086; */
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon--link {
    color: var(--white);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

/* Header QR */
.header__qr {
    display: none;
    width: 186px;
    background-color: var(--white);
    position: absolute;
    left: -50%;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    animation: fadeIn ease 0.3s;
    will-change: opacity, transform;
}

.header__qr:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    display: block;
    left: 0;
    top: -20%;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-apps--link:first-child {
    margin-left: 10px;
}

.header__qr-apps--link:last-child {
    margin-right: 10px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header lang */

.header__lang {
    position: absolute;
    width: 200px;
    top: 120%;
    right: -30%;
    background-color: var(--white);
    color: var(--black);
    display: none;
    transform-origin: 82% top;
    animation: grow ease-in 0.2s;
    will-change: opacity, transform;
    z-index: 1;
}

.header__lang::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white) transparent;
    position: absolute;
    right: 7%;
    top: -29px;
}

.header__lang::after {
    content: "";
    position: absolute;
    display: block;
    top: -50%;
    right: 20px;
    width: 120px;
    height: 40px;
}

.header__lang-list {
    padding: 0;
    list-style-type: none;
}

.header__lang-item {
    padding: 12px;
}

.header__lang-item:hover {
    background-color: #f1f1f1;
}

/* Header notify */

.header__notify {
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    background-color: var(--white);
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: 95% top;
    animation: grow ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.header__notify::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white) transparent;
    position: absolute;
    right: 1%;
    top: -29px;
}

.header__notify::after {
    content: "";
    position: absolute;
    display: block;
    top: -10%;
    right: 0;
    width: 100px;
    height: 10%;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 40px;
    margin-top: 0;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
    list-style-type: none;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(251, 85, 51, 0.1);
}

.header__notify-item--link {
    display: flex;
    padding: 8px;
    text-decoration: none;
    width: 100%;
}

.header__notify-img {
    width: 50px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 8px;
}

.header__notify-name {
    display: block;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-desc {
    display: block;
    color: #6f6f6f;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: center;
    animation: fadeIn linear 0.2s;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.modal__body {
    --growth-from: 0.1;
    --growth-to: 1;
    background-color: #fff;
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 2;
    border-radius: 5px;
    will-change: opacity, transform;
    animation: modalGrow linear 0.2s;
}

.modal__auth-form--register,
.modal__auth-form--login {
    display: none;
}

/* Modal auth */
.modal__auth-form {
    width: 500px;
}

.modal__auth-form--login {
    border-bottom: 68px solid rgba(0, 0, 0, 0.3);
}

.auth-form__container {
    padding: 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: #333;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fb5533;
    cursor: pointer;
}

.auth-form__form {
    
}

.auth-form__input-group {
    display: flex;
}

.auth-form__input {
    width: 100%;
    height: 32px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: rgba(0, 0, 0, 0.5);
}

.auth-form__other {
    margin-top: 16px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 8px;
}

.auth-form__text-link {
    text-decoration: none;
    color: #fb5533;

}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__footer {
    background-color: #f5f5f5;
    padding: 16px;
    display: flex;
    justify-content: space-around;
}

.auth-form__footer-icon {
    font-size: 1.8rem;
}

.auth-form__footer--facebook {
    color: #fff !important;
    background-color: #3a5a98;
    
}

.auth-form__footer--facebook .auth-form__footer-icon {
    color: #fff;
}

.auth-form__footer--google {
    color: #666;
    background-color: #fff;
}

.auth-form__footer-text {
    margin: 0 32px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help--link {
    font-size: 1.4rem;
    color: #939393;
    cursor: pointer;
}

.auth-form__help-forgot {
    color: #fb5533;
}

.auth-form__help--separate {
    content: "";
    display: block;
    height: 20px;
    margin: -4px 16px 0;
    border: 1px solid #eaeaea;
}

/* Header logo, search, cart */

.header-with-search {
    height: 88px;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
    height: 55px;
    display: flex;
    justify-content: center;
}

.header__logo-img {
    width: 150px;
    fill: var(--white);
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.search__input--wrapper {
    flex: 1;
    position: relative;
}

.search__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 10px 16px;
    border-radius: 2px;
}

.search__input:focus ~ .search__history {
    display: block;
}

.search__history {
    position: absolute;
    top: 110%;
    left: 0;
    right: 16px;
    background-color: var(--white);
    border-radius: 3px;
    box-shadow: 0 0 3px #999;
    display: none;
}

.search__history-heading {
    margin: 10px 16px;
    font-size: 1.4rem;
    color: #ccc;
    font-weight: 400;
    user-select: none;
}

.search__history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search__history-item {
    cursor: pointer;
    height: 38px;
    padding: 0 16px;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
}

.search__history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search__history-item:hover {
    background-color: #eeeeee;
}

.header__cart {
    width: 40px;
    text-align: center;
    margin: 0 35px;
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

.header__cart-icon {
    margin: 6px 0 0 0;
    font-size: 2.4rem;
    color: var(--white);
}

.cart__list {
    position: absolute;
    top: 110%;
    right: -10px;
    background-color: var(--white);
    width: 400px;
    border-radius: 3px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
    transform-origin: 93% top;
    animation: grow ease 0.3s;
    display: none;
    cursor: default;
}

.header__cart:hover .cart__list {
    display: block;
}

.cart__list::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white) transparent;
    position: absolute;
    right: 1%;
    top: -29px;
}

.cart__list::after {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    right: 0;
    width: 60px;
    height: 20%;
    cursor: pointer;
}

.cart__list--no-item-img {
    width: 30%;
    margin: 20px 0;
}

.cart__list--no-item-msg {
    display: block;
    font-size: 1.4rem;
    margin: 20px;
    color: var(--text-color);
    user-select: none;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    width: 60px;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
    cursor: pointer;
}
.header__search-btn:hover {
    background-color:#fb6445;
}

.header__search-icon {
    font-size: 1.4rem;
    color: var(--white);
}
