/* Mobile and Tablet */
@media (max-width:63.9375em) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }
    
    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }

    .cart__list {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: calc(100% - 16px);
        padding: 0 calc((100% - 65rem) / 2 - 8px);
    }
    
    .cart__list::before {
        display: none;
    }

    .main__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .header__sort-bar {
        display: flex;
    }
}

/* Tablet */
@media (min-width:46.25em) and (max-width:63.9375em) {
    .hide-on-tablet {
        display: none;
    }

    .header__logo {
        width: 100px;
        height: 40px;
    }
    
    .header__cart {
        margin: 0 20px;
    }
}

/* Mobile */
@media (max-width:46.1875em){
    .hide-on-mobile {
        display: none;
    }
    
    .header-with-search {
        justify-content: space-between;
    }

    .header__cart {
        width: unset;
        margin: 0 20px;
    }

    .header__logo {
        width: unset;
        margin-right: 0;
    }

    .header__mobile-search {
        display: block;
    }

    .header__search-checkbox:checked ~ .header__search {
        display: flex;
    }

    .header__search {
        display: none;
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        z-index: 2;
        padding: 0 8px;
        animation: mobileSearchSlideIn linear 0.3s;
    }

    .search__history {
        position: fixed;
        top: calc(var(--header-height) + 46px);
        left: 0;
        right: 0;
    }

    .main__container .main__content {
        margin: 0 6px;
    }

    @keyframes mobileSearchSlideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) - 46px);
        } to {
            opacity: 1;
            top: var(--header-height);
        }
    }
}